
<div class=" d-flex flex-column justify-content-center p-2">
  <h2 class="">Listagem</h2>  
  <div>
    {{#each carros}}
  <div class="d-inline-flex mb-3">
    <div class="flex-row">
      {{>carros}}
    </div>

  </div>
  {{/each}}
  </div>
</div>