<div class="login container fs-3 card p-2">

    <h1 class="p-2">Inserir Carro</h1>

    <form action="/add" method="POST">

        <div class="mb-3">

            <label for="nome" class="label label-info">Nome</label>
            <input type="text" name="nome" class="form-control me-2">
        </div>
        <div class="mb-3">

            <label for="model" class="label label-info">Modelo</label>
            <input type="text" name="model" class="form-control me-2">
        </div>
        <div class="mb-3">

            <label for="motor" class="label label-info">Motor</label>
            <input type="text" name="motor" class="form-control me-2">
        </div>
        <div class="mb-3">

            <label for="ano" class="label label-info">Ano</label>
            <input type="number" name="ano" class="form-control me-2">
        </div>
        <div class="mb-3">

            <label for="fabricante" class="label label-info">Fabricante</label>
            <input type="text" name="fabricante" class="form-control me-2">
        </div>
        <div class="mb-3">

            <label for="cor" class="label label-info">Cor</label>
            <input type="text" name="cor" class="form-control me-2">
        </div>
        <div class="mb-3">

            <label for="opcionais" class="label label-info">Opcionais</label>
            <input type="text" name="opcionais" class="form-control me-2">
        </div>
        
        <input type="submit" value="Cadastrar" class="btn btn-primary">

    </form>
</div>

