<div class="d-inline-flex p-2">
    <h2>Modelos</h2>
    <form action="/add" method="get" class="p-2">
      <input type="submit" value="Inserir Novo" class="btn btn-primary">
    </form> 
</div>

{{#each cars}}
<ul class="list-group">
  <li class="list-group-item">
    {{> cars}}
  </li>
</ul>

{{/each}}
